sqlalchemy
fastapi
uvicorn
fastapi_health
alembic
geoalchemy2
shapely
pillow
pydantic-settings
httpx

# Async Postgres
# asyncpg

# Sync PG
psycopg2-binary
# psycopg2


# Retry
tenacity

# Testing
pytest
pytest-cov
pytest_asyncio